@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#caps-warn-container {
    display: flex;
    width: 170px;

    height: 70px;

    border-radius: 14px;

    background-color: var(--secondary-color);
    transition: 150ms ease-in;
}
#lock-icon {
    width: 50px;
    height: 50px;
    margin: 25px -18px 0px 25px;
}
#caps-text {
    font-family: Urbanist;
    font-size: 14pt;
    color: var(--timer-font-color);
}